        *{margin:0; padding:0;}
        ul{list-style-type:none;}
        body{
            font-family:"맑은 고딕","굴림","돋음";
            font-size:12px;
            color:#444444;
        }
        .clear{clear:both;
        }
