
        #main_page{
            width:1000px;
            margin:0 auto;
        }
        #customer {
            width:220px;
            height:130px;
            float:left;
            margin:5px auto 0 10px;
        }
        #notice {
            width:350px;
            height:130px;
            float:left;
            margin:5px 50px 0 50px;
        }
        #faq {
            width:300px;
            height:130px;
            float:left;
            margin:5px 10px 0 auto;
        }
        #customer .title{
            float:left;
        }
        #customer .more{
            float:right;
        }
        #notice .title{
            float:left;
        }
        #notice .subject{
            float:left;
        }
        #notice .date{
            float:right;
        }
        #notice ul{
            margin-top:10px;
        }
        #notice li{
            margin-top:5px;
        }
        #notice .more{
            float:right;
        }
